@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.wrap{
    position: relative;
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    position: fixed; 
    z-index: 10;
}

.sub_nav{
    width: 100%; 
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.menubar{
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border: 0px solid blue;
    margin: 0 auto;
    
}

.logo{
    padding-top: 23px;
    padding-right: 100px;
}
.menu{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    letter-spacing: -0.06;
    line-height: 0;
    padding-top: 43px;
    text-transform: capitalize;
    

}

.img-menu{
    padding: 20px 0;

}

.text-menu{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    text-transform: capitalize;
    letter-spacing: -0.03em;
    padding: 32px 0;
    position: relative;
    padding-top: 55px;
}
 
.menu a:link, :visited, :active{color:gray; transition: all 0.7s;}

.menu a:hover{color: blueviolet;
transition: all 0.7s;}


.main{
    width: 100%;
    height: 700px;
    background-image: url('img/bg.png');
    background-size: cover;
}

.script{
    position: relative;
    border: 1px solid blue;
    width: 1000px;
    height: 700px;
    margin: 0 auto;
} 

.script img{
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.text-menu:before{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    height: 3px;
    background-color: blueviolet;
    opacity: 0;
    transition: all 0.5s;
}

.text-menu:hover:before{
    opacity: 1;
    transition: all 0.5s;
}

.bg{
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}



.bg01{background-image: url('img/m_bg_01.png');}
.bg02{background-image: url('img/m_bg_02.png')}
.bg03{background-image: url('img/m_bg_03.png');}
.bg04{background-image: url('img/m_bg_04.png');}
.bg05{background-image: url('img/m_bg_05.png');}

/**푸터공통 적용입니당**/
footer{
    width: 100%;
    height: 160px;
    background-color: #575757;
}
.footer_img{
    margin: 0 auto;
    width: 100%;
    height: 160px;
    display: flex; /**이게 무엇인가? -공부하기**/
    align-items: center;
    justify-content: center;
    border: 0px solid red;
}
.logo_position{
    width: 1100px;
    height: 50px;
    margin-top: 241x;
    border: 0px solid red;
    display: flex;
}
.logo_position2{
    width: 1100px;
    height: 80px;
    margin-top: -15px;
    margin-left: 190px;
    border: 0px solid red;
    display: flex;

}

.ft_txt{
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    padding-top: 46px;
}


/** 서브1 **/ 
 
.sub01_box01{
    width: 100%;
    height: 927px;
    background-image: url('img/sub01_01.png');
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;  

}

.tit01_02{
    margin-left: -600px;
    margin-top: 100px; 
    position: absolute;
    }

.sub01_box02{
    width: 1100px;
    margin: 0 auto;
    margin-top: 230px;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-bottom: 191px;
}

.sub01_box03{
    width: 100%;
    height: 401px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

.sub01_box04{
    width: 100%;
    height: 1568px;
    background-color: #Ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

/**서브2**/
.sub02_box01{
    width: 100%;
    height: 927px;
    background-image: url(img/sub02_01.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;  
}

.tit02_02{
margin-left: -600px;
margin-top: 100px;
position: absolute;
}

.sub02_box02{
    width: 1100px;
    margin: 0 auto; 
    margin-top: 230px;
    text-align: center;
    background-color: #fff;
}

.sub02_box03{
    width: 1100px;
    margin: 0 auto; 
    margin-top: 300px;
    text-align: center;
    margin-bottom: 150px;
    background-color: #fff;
}

.tit02_03{
    margin-top: 171px;
}
.tit02_04{
    margin-top: 50px;
}
.tit02_05{
    margin-top: 50px;
}
.tit02_06{
    margin-top: 50px;
}
.tit02_07{
    margin-top: 50px;
}

/**서브03**/
.sub03_box01{
    width: 100%;
    height: 927px;
    background-image: url(img/sub03_01.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;  
}

.tit03_01{
    margin-left: -600px;
    margin-top: 100px;
    position: absolute; 
}

.sub03_box02{
    width: 1100px;
    margin: 0 auto;
    margin-top: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.sub03_box03{
    width: 1100px;
    margin: 0 auto; 
    margin-top: 196px;
    justify-content: center; 
    align-items: center;
    background-position: center;
    margin-bottom: 239px;
    background-color: #fff; 
}
 
.tit03_02{
    margin-top: 400px;
}
.tit03_03{
    margin-top: 200px;
}
.tit03_04{
    margin-top: 200px;
}
.tit03_05{
    margin-top: 200px;
    margin-bottom: 200px;
}

/**서브04**/
.sub04_box01{
    width: 100%;
    height: 927px;
    background-image: url(img/sub04_01.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;  
}

.tit04_01{
    margin-left: -600px;
    margin-top: 100px;
    position: absolute;  
}

.sub04_box02{
    width: 100%;
    margin: 0 auto;   
    margin-top: 230px; 
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.sub04_box03{
    width: 100%;
    height: 542px;
    background-image: url(img/sub04_bg01.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin-top: 150px;
    margin-bottom: 150px;

}

.sub04_box04{
    width: 100%;
    margin: 0 auto; 
    background-color: #Ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin-top: 0px;

}

.sub04_box05{
    width: 100%;
    margin: 0 auto; 
    background-color: #Ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin-top: 237px;

}

.sub04_box06{
    width: 100%;
    margin: 0 auto; 
    background-color: #Ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin-top: 125px;
    margin-bottom: 200px;

}
/**뭥미**/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/** 사진 크기 박스 사이즈에 딱 맞춰서 하는범 질문하기**/

.title{
    font-family: 'Noto KR';
    font-size: 4em;
    text-align: center;
    color: #ffffff;
    margin-top: 70px; 
}

.cont{
    display: flex;
    height: 300px;

}
.item{
    width: 25%;
    overflow: hidden; /**넘치는 아이들을 숨겨라**/
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #aaa;
    opacity: 0.5;
    transition: 0.5s; /**글자가 흘러 내리듯이 나옴**/
}
.txt{
    position: absolute;
    background-color: rgb(32, 32, 32, 0.855);
    left: 0;
    right: 0;
    bottom: 0;
    margin: 25px;
    padding: 25px; 
    opacity: 0;
    transition: all 0.5s;

}

.titlew{
    font-family: 'Noto Sans KR';/**이거 폰트 굵기 바꾸고 싶음**/
    font-size: 1em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    
}

.titleww{
    font-family: 'Noto Sans KR';/**이거 폰트 굵기 바꾸고 싶음**/
    font-size: 0.5em;
    text-align: center;
    color: #ffffff;
    margin-top: 25px;

}

.txt h2{
    font-family: 'Noto KR';
    font-size: 2em;
    margin-bottom: 10px;
}

.txt p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0,8em;
    line-height: 1.4em;
    color: rgb(221, 221, 221);
}

.pack{
    color: #AFBABE;

}
.edit{
    color: #5084BE;

}
.bran{
    color: #F4D7A6;

}
.uiux{
    color: #CBCBCB;

}

.cont .item:hover{
    width: 50%;
    opacity: 1;
}
.item:hover .txt{
    opacity: 1;
    transition: all 0.5s;
}

/**인덱스**/

.body01{
    background-color: black;
    color: #888;
}

.wrap01{
    position: relative;
    width: 750px;
    margin: 0 auto;
    border: 1px aqua;
    margin-top: 100px;
    stroke-width: 50px;
}

.dot{
    width: 100%;
    height: 250px;
    background-image: url('img/dot.png');
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.d_box{
    width: 100px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center; 

} 






























 
